.messages {
  display: flex;
  justify-content: center;
  .container {
    width: 1400px;
    padding: 30px 0;
    .title {
      display: flex;
      justify-content: space-between;
      button {
        padding: 10px 8px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid black;
        border-radius: 5px;
        background-color: greenyellow;
        cursor: pointer;
      }
    }
    table {
      border-collapse: collapse;
      padding: 30px 0 0 0;
      width: 100%;
      text-align: center;
      border: none;
      tr {
        height: 100px;
        td {
          img {
            width: 50px;
          }
          &:first-child {
            font-weight: 500;
          }
          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
        }
        &.active {
          background-color: rgba(122, 122, 122, 0.2);
        }
      }
      .actionImg {
        width: 25px;
        cursor: pointer;
      }
    }
  }
}
